name: Docker Image CI

on:
  schedule:
    - cron: '0 5 * * *'
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  bld-and-push:
    strategy:
      matrix:
        version: ['11.19', '12.14', '13.10', '14.7', '15.2']
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --build-arg POSTGRES_VERSION=${{ matrix.version }} -t martlark/pg_dump:${{ matrix.version }} --file Dockerfile
    - name: Log into docker.io
      if: github.event_name != 'pull_request'
      uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
      with:
        registry: docker.io
        username: martlark
        password: ${{ secrets.DOCKER_PAT }}
    - name: Push the Docker image
      run: docker push martlark/pg_dump:${{ matrix.version }}
